name: PFA Hunter (Native)

on:
  schedule:
    - cron: "*/15 * * * *"
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-hunter:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to commit the history.json file
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run Hunter Script
        run: node index.js
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}

      - name: Commit History
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update history [skip ci]"
          file_pattern: "data/history.json"
